#homeWrapper {
    padding: 50px 0;
    background: linear-gradient(to right,
            #DFE3EB 0%,
            #DFE3EB 27%,
            #EBEFF7 27%,
            #EBEFF7 100%,
        );
}

.mobileThumbnail {
    display: none;
}

#navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding-bottom: 82px;

    .logo {
        padding-bottom: 20px;
    }
}

.navMenu {
    a {
        font-family: Roboto, sans-serif;
        font-weight: 500;
        text-decoration: none;
        color: var(--paragraph-color);
        padding: 0 24px;
        font-size: 18px;
    }

    a:hover {
        color: #969696;
    }
}

.navButtons {
    img {
        width: 22px;
        padding: 10px;
    }

    img:hover {
        cursor: pointer;
    }
}

#heroArea {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.heroThumbnail {
    display: flex;
    flex-direction: column;

    img {
        width: 118px;
    }

    img:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.heroImage {
    width: 563px;
    display: none;
}

.heroImage.active {
    display: block;
}

.divider {
    width: 265px;
}


.productDescription {
    display: flex;
    flex-direction: column;
    width: 526px;
    margin-bottom: 40px;
    margin-right: auto;

    h1 {
        font-family: Oswald, sans-serif;
        font-size: 64px;
        color: var(--heading-color);
    }

    p {
        font-family: Roboto, sans-serif;
        font-size: 18px;
        color: var(--paragraph-color);
        margin-bottom: 40px;
        text-align: justify;
    }

}

.productRating {
    img {
        width: 16px;
    }
}

.price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;

    .priceTag {
        color: var(--accent-color);
        font-family: Oswald, sans-serif;
        font-weight: 300;
        font-size: 50px;
    }
}

.quantity {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 133px;
    height: 50px;
    border: 1px solid #9C9C9C;
    border-radius: 8px;
    margin-left: 40px;

    h2 {
        font-family: Oswald, sans-serif;
        font-weight: 500;
        color: #9C9C9C;
        font-size: 28px;
    }

    h3 {
        font-family: Oswald, sans-serif;
        font-weight: 500;
        color: var(--heading-color);
        font-size: 24px;
    }
}

.actionButtons {
    display: flex;
    width: 100%;
    margin-bottom: 30px;

    div {

        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Roboto, sans-serif;
        font-size: 1.5em;
        font-weight: 700;
        color: white;
        background-color: var(--accent-color);
        border: 2px solid var(--accent-color);
        box-shadow: 0px 2px 6px #00000029;
        border-radius: 8px;
        width: 213px;
        height: 61px;
    }

    div:nth-child(2) {
        background-color: transparent;
        color: var(--accent-color);
        margin-left: 30px;
    }

    div:hover {


        cursor: pointer;
    }
}

.productInfo {
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--paragraph-color);
    margin: 5px 0;

    img {
        margin-right: 10px;
    }
}

.socialMedia {
    display: flex;
    flex-direction: column;

    img {
        margin: 15px;
        width: 40px;
        height: 40px;
    }

    img:hover {
        cursor: pointer;
    }
}

@media screen and (max-width: 480px) {

    #homeWrapper {
        background: #EBEFF7;
    }

    #heroArea {
        justify-content: center;

    }

    .logo {
        width: 240px;
    }

    .navButtons {
        img {
            width: 30px;
        }
    }

    .navMenu {
        display: none;
    }

    .heroThumbnail {
        display: none;
    }

    .presentImage {
        img {
            width: 100%;
        }
    }

    .mobileThumbnail {
        display: flex;
        flex-wrap: wrap;


        img {
            width: 25%;
        }
    }

    .socialMedia {
        flex-direction: row;
    }

    .productRating {
        img {
            width: 30px;
        }
    }

    .productDescription {
        h1 {
            font-size: 55px;
        }

        p {
            font-size: 30px;
        }

        .priceTag {
            font-size: 64px;
        }
    }
}