#products {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 128px;
    padding-bottom: 110px;

    h1 {
        font-family: Oswald, sans-serif;
        font-size: 50px;
    }

    p {
        font-family: Roboto, sans-serif;
        font-size: 18px;
        width: 30%;
        text-align: center;
        color: var(--paragraph-color);
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .productCards {
        display: flex;
        width: 100%;
        justify-content: center;

        img {
            width: 350px;
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    .productTitle {
        font-family: Oswald, sans-serif;
        font-size: 36px;
        font-weight: 500;
    }

    .productPrice {
        font-family: Oswald, sans-serif;
        font-size: 50px;
        color: var(--accent-color);
        font-weight: 200;
    }
}