#specs {
    background: url(../img/Mask\ Group\ 7@2x.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 269px 0;
}

.alignSpecs {
    display: flex;

}

.specsDescription {
    display: flex;
    flex-direction: column;
    width: 606px;
    justify-content: center;



    .specsHeading {
        padding: 0 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;


        .specsText {
            font-family: Oswald, sans-serif;
            font-weight: 500;
            font-size: 28px;
        }
    }

    #line {
        width: 100%;
        background-color: var(--paragraph-color);
        height: 1px;
        position: relative;
        margin-top: 20px;

        div {
            height: 5px;
            width: 95px;
            top: -2.5px;
            position: absolute;
            background-color: var(--accent-color);
        }
    }

    p {
        color: var(--paragraph-color);
        font-family: Roboto, sans-serif;
        font-size: 18px;
        margin-top: 40px;
        text-align: justify;
    }
}

@media screen and (max-width: 765px) {
    .specsText {
        font-size: 30px;
    }
}

@media screen and (max-width: 1023px) {
    #specs {
        background: url('../img/Mask\ Group\ 15@2x.png');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 200px 0;
    }

    .specsDescription {
        width: 100%;

        p {
            font-size: 26px;
        }
    }

    .alignSpecs {
        justify-content: center;
        align-items: center;
    }

    .specsHeading {
        .specsText {
            font-size: 34px !important;
        }
    }

    #line {
        width: 80%;
    }
}

@media screen and (min-width: 1024px) {
    .specsDescription {
        width: 440px;
        margin-left: 60px;
    }
}