@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500&family=Roboto:wght@400;500;700&display=swap");
#homeWrapper {
  padding: 50px 0;
  background: linear-gradient(to right, #DFE3EB 0%, #DFE3EB 27%, #EBEFF7 27%, #EBEFF7 100%);
}

.mobileThumbnail {
  display: none;
}

#navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding-bottom: 82px;
}
#navBar .logo {
  padding-bottom: 20px;
}

.navMenu a {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: var(--paragraph-color);
  padding: 0 24px;
  font-size: 18px;
}
.navMenu a:hover {
  color: #969696;
}

.navButtons img {
  width: 22px;
  padding: 10px;
}
.navButtons img:hover {
  cursor: pointer;
}

#heroArea {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.heroThumbnail {
  display: flex;
  flex-direction: column;
}
.heroThumbnail img {
  width: 118px;
}
.heroThumbnail img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.heroImage {
  width: 563px;
  display: none;
}

.heroImage.active {
  display: block;
}

.divider {
  width: 265px;
}

.productDescription {
  display: flex;
  flex-direction: column;
  width: 526px;
  margin-bottom: 40px;
  margin-right: auto;
}
.productDescription h1 {
  font-family: Oswald, sans-serif;
  font-size: 64px;
  color: var(--heading-color);
}
.productDescription p {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  color: var(--paragraph-color);
  margin-bottom: 40px;
  text-align: justify;
}

.productRating img {
  width: 16px;
}

.price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
}
.price .priceTag {
  color: var(--accent-color);
  font-family: Oswald, sans-serif;
  font-weight: 300;
  font-size: 50px;
}

.quantity {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 133px;
  height: 50px;
  border: 1px solid #9C9C9C;
  border-radius: 8px;
  margin-left: 40px;
}
.quantity h2 {
  font-family: Oswald, sans-serif;
  font-weight: 500;
  color: #9C9C9C;
  font-size: 28px;
}
.quantity h3 {
  font-family: Oswald, sans-serif;
  font-weight: 500;
  color: var(--heading-color);
  font-size: 24px;
}

.actionButtons {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}
.actionButtons div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  color: white;
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 8px;
  width: 213px;
  height: 61px;
}
.actionButtons div:nth-child(2) {
  background-color: transparent;
  color: var(--accent-color);
  margin-left: 30px;
}
.actionButtons div:hover {
  cursor: pointer;
}

.productInfo {
  display: flex;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--paragraph-color);
  margin: 5px 0;
}
.productInfo img {
  margin-right: 10px;
}

.socialMedia {
  display: flex;
  flex-direction: column;
}
.socialMedia img {
  margin: 15px;
  width: 40px;
  height: 40px;
}
.socialMedia img:hover {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  #homeWrapper {
    background: #EBEFF7;
  }
  #heroArea {
    justify-content: center;
  }
  .logo {
    width: 240px;
  }
  .navButtons img {
    width: 30px;
  }
  .navMenu {
    display: none;
  }
  .heroThumbnail {
    display: none;
  }
  .presentImage img {
    width: 100%;
  }
  .mobileThumbnail {
    display: flex;
    flex-wrap: wrap;
  }
  .mobileThumbnail img {
    width: 25%;
  }
  .socialMedia {
    flex-direction: row;
  }
  .productRating img {
    width: 30px;
  }
  .productDescription h1 {
    font-size: 55px;
  }
  .productDescription p {
    font-size: 30px;
  }
  .productDescription .priceTag {
    font-size: 64px;
  }
}
#specs {
  background: url(../img/Mask\ Group\ 7@2x.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 885px;
  display: flex;
}

.specsDescription {
  display: flex;
  flex-direction: column;
  width: 606px;
  justify-content: center;
}
.specsDescription .specsHeading {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.specsDescription .specsHeading .specsText {
  font-family: Oswald, sans-serif;
  font-weight: 500;
  font-size: 28px;
}
.specsDescription #line {
  width: 50%;
  background-color: var(--paragraph-color);
  height: 1px;
  position: relative;
  margin-top: 20px;
}
.specsDescription #line div {
  height: 5px;
  width: 10%;
  top: -2.5px;
  position: absolute;
  background-color: var(--accent-color);
}
.specsDescription p {
  color: var(--paragraph-color);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  margin-top: 40px;
  text-align: justify;
  width: 50%;
}

@media screen and (max-width: 767px) {
  #specs {
    justify-content: center;
  }
  .specsDescription {
    align-items: center;
    width: 100%;
  }
  .specsDescription div h1 {
    padding: 0 30px;
    font-size: 60px;
  }
  .specsDescription p {
    font-size: 28px;
  }
}
#motivation {
  background: url(../img/Mask\ Group\ 13@2x.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 920px;
  display: flex;
  flex-direction: row-reverse;
}
#motivation .motContainer {
  width: 578px;
}
#motivation h1 {
  font-family: Oswald, sans-serif;
  font-size: 50px;
}
#motivation p {
  font-family: Roboto, sans-serif;
  color: var(--paragraph-color);
  font-size: 18px;
  margin: 40px 0;
}

#products {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 128px;
  padding-bottom: 110px;
}
#products h1 {
  font-family: Oswald, sans-serif;
  font-size: 50px;
}
#products p {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  width: 30%;
  text-align: center;
  color: var(--paragraph-color);
  margin-top: 30px;
  margin-bottom: 50px;
}
#products .productCards {
  display: flex;
  width: 100%;
  justify-content: center;
}
#products .productCards img {
  width: 350px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .productTitle {
  font-family: Oswald, sans-serif;
  font-size: 36px;
  font-weight: 500;
}
.card .productPrice {
  font-family: Oswald, sans-serif;
  font-size: 50px;
  color: var(--accent-color);
  font-weight: 200;
}

#inputForm {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 128px;
  padding-bottom: 128px;
}
#inputForm h1 {
  font-family: Oswald, sans-serif;
  width: 500px;
  font-size: 50px;
  text-align: center;
  margin-bottom: 70px;
}

.formArea {
  display: flex;
  align-items: center;
}
.formArea .formImage {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.formArea .formImage img {
  width: 670px;
}
.formArea form {
  display: flex;
  flex-direction: column;
  width: 394px;
}
.formArea form label {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  color: var(--paragraph-color);
  font-size: 18px;
}
.formArea form input {
  height: 50px;
  border: 1px solid #939FB8;
  border-radius: 4px;
  background-color: transparent;
  margin-bottom: 20px;
}
.formArea form textarea {
  height: 162px;
  border: 1px solid #939FB8;
  border-radius: 4px;
  background-color: transparent;
}
.formArea form button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  color: white;
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 8px;
  width: 100%;
  height: 61px;
  margin-top: 40px;
}
.formArea form .followUpText {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  color: var(--paragraph-color);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.formArea form .followUpText img {
  width: 14px;
  margin: 0 12px;
}

footer {
  background-color: var(--secondary-color);
  display: flex;
  align-items: flex-start;
  padding-top: 132px !important;
  padding-bottom: 128px !important;
}
footer h1 {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--paragraph-color);
  padding: 16px 0;
}
footer p {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--paragraph-color);
  padding-bottom: 16px;
}

.footerColumn:nth-child(1) {
  margin-right: 300px;
}

.footerColumn:nth-child(2) {
  margin-right: 128px;
}

.footerColumn:nth-child(3) {
  margin-right: 165px;
}

.footerColumn:nth-child(4) {
  margin-right: auto;
}

#callUs {
  display: flex;
  padding-top: 16px;
}

.footerContact h2 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: var(--paragraph-color);
}
.footerContact h2:nth-child(2) {
  font-size: 18px;
  font-weight: 700;
}

#footerSocial {
  padding-bottom: 44px;
}

.socialIcons {
  width: 24px;
}

#footerLogo {
  width: 120px;
}

#copyright {
  background-color: var(--primary-color);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  color: var(--paragraph-color);
  height: 102px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

:root {
  --accent-color: #FF9300;
  --primary-color: #DFE3EB;
  --secondary-color: #EBEFF7;
  --paragraph-color: #656565;
  --heading-color: #231F20;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 142px;
  padding-right: 142px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 470px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media screen and (min-width: 767px) {
  .container {
    width: 760px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1000px;
  }
}
@media screen and (min-width: 1366px) {
  .container {
    width: 1330px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    width: 1366px;
  }
}/*# sourceMappingURL=style.css.map */