@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500&family=Roboto:wght@400;500;700&display=swap");
#homeWrapper {
  padding: 50px 0;
}

.mobileThumbnail {
  display: none;
}

#navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding-bottom: 82px;
}
#navBar .logo {
  padding-bottom: 20px;
}

.navMenu a {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  color: var(--paragraph-color);
  padding: 0 24px;
  font-size: 18px;
}
.navMenu a:hover {
  color: #969696;
}

.navButtons a img {
  width: 22px;
  padding: 10px;
}

#heroArea {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.heroThumbnail {
  display: flex;
  flex-direction: column;
}
.heroThumbnail img {
  width: 118px;
}
.heroThumbnail img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.heroImage {
  width: 563px;
  display: none;
}

.heroImage.active {
  display: block;
}

.divider {
  width: 265px;
}

.productDescription {
  display: flex;
  flex-direction: column;
  width: 526px;
  margin-bottom: 40px;
}
.productDescription .heroHeading {
  font-family: Oswald, sans-serif;
  font-size: 64px;
  color: var(--heading-color);
}
.productDescription p {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  color: var(--paragraph-color);
  margin-bottom: 40px;
  text-align: justify;
}

.productRating img {
  width: 16px;
}

.price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
}
.price .priceTag {
  color: var(--accent-color);
  font-family: Oswald, sans-serif;
  font-weight: 300;
}

.quantity {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 133px;
  height: 50px;
  border: 1px solid #9C9C9C;
  border-radius: 8px;
  margin-left: 40px;
}
.quantity h2 {
  font-family: Oswald, sans-serif;
  font-weight: 500;
  color: #9C9C9C;
  font-size: 28px;
}
.quantity h3 {
  font-family: Oswald, sans-serif;
  font-weight: 500;
  color: var(--heading-color);
  font-size: 24px;
}

.actionButtons {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}
.actionButtons .actionLink div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: white;
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 8px;
  width: 213px;
  height: 61px;
}
.actionButtons a:nth-child(2) div {
  background-color: transparent;
  color: var(--accent-color);
}
.actionButtons a:hover {
  cursor: pointer;
}

.productInfo {
  display: flex;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--paragraph-color);
  margin: 5px 0;
}
.productInfo img {
  margin-right: 10px;
}

.socialMedia {
  display: flex;
  flex-direction: column;
}
.socialMedia img {
  margin: 15px;
  margin-right: 0;
  width: 40px;
  height: 40px;
}
.socialMedia img:hover {
  cursor: pointer;
}

@media screen and (min-width: 360px) {
  #homeWrapper {
    background: linear-gradient(to right, #EBEFF7 0%, #EBEFF7 100%);
  }
  #heroArea {
    flex-direction: column;
  }
  #navBar .logo {
    width: 40%;
  }
  .navMenu {
    display: none;
  }
  .navButtons img {
    width: 12%;
    margin: 0 5px;
  }
  .heroImage {
    width: 90%;
  }
  .heroThumbnail {
    display: none;
  }
  .mobileThumbnail img {
    width: 25%;
    height: auto;
  }
  .mobileThumbnail {
    display: flex;
  }
  .productRating img {
    width: 40px;
  }
  .priceTag {
    font-size: 80px;
  }
  .productDescription {
    width: 90%;
  }
  .quantity {
    height: 85px;
    width: 230px;
  }
  .quantity h2 {
    font-size: 40px;
  }
  .quantity h3 {
    font-size: 30px;
  }
  .actionButtons {
    flex-direction: column;
  }
  .actionButtons .actionLink div {
    width: 100%;
    margin-top: 30px;
  }
  .productInfo {
    font-size: 30px;
  }
  .productInfo img {
    width: 30px;
  }
  .socialMedia {
    flex-direction: row;
  }
}
@media screen and (min-width: 767px) {
  #heroArea {
    flex-direction: column;
  }
  #navBar .logo {
    width: 250px;
  }
  .navButtons img {
    width: 40px;
  }
  .heroImage {
    width: 90%;
  }
  .heroThumbnail {
    display: none;
  }
  .mobileThumbnail {
    display: flex;
  }
  .mobileThumbnail img {
    width: 25%;
    height: auto;
  }
  .productDescription {
    width: 100%;
  }
  .productDescription .heroHeading {
    font-size: 90px;
  }
  .productDescription p {
    font-size: 24x;
  }
  .actionButtons {
    flex-direction: row;
    justify-content: space-between;
  }
  .actionButtons .actionLink {
    margin: 40px 0;
  }
  .actionButtons .actionLink div {
    width: 336px;
    height: 68px;
    font-size: 28px;
  }
  .actionButtons .actionLink div:nth-child(2) {
    margin-left: 30px;
  }
  .productInfo {
    font-size: 22px;
  }
  .productInfo img {
    width: 26px;
  }
  .socialMedia {
    flex-direction: row;
  }
  .socialMedia img {
    height: 70px;
    width: 70px;
    margin: 0 60px;
  }
}
@media screen and (min-width: 1024px) {
  #homeWrapper {
    background: linear-gradient(to right, #DFE3EB 0%, #DFE3EB 27%, #EBEFF7 27%, #EBEFF7 100%);
  }
  #navBar .logo {
    width: 198px;
  }
  .navButtons img {
    width: 24px;
  }
  .navMenu {
    display: flex;
  }
  .navMenu a {
    font-size: 14px;
  }
  #heroArea {
    flex-direction: row;
  }
  .mobileThumbnail {
    display: none;
  }
  .heroThumbnail {
    display: flex;
  }
  .heroThumbnail img {
    width: 120px;
    height: 120px;
  }
  .heroImage {
    width: 384px;
  }
  .productRating img {
    width: 16px;
  }
  .productDescription {
    width: 350px;
  }
  .productDescription .heroHeading {
    font-size: 40px;
  }
  .productDescription p {
    font-size: 16px;
  }
  .price .priceTag {
    font-size: 49px;
  }
  .quantity {
    height: 50px;
    width: 133px;
  }
  .quantity h2 {
    font-size: 28px;
  }
  .quantity h3 {
    font-size: 24px;
  }
  .actionButtons .actionLink {
    width: 300px;
  }
  .actionButtons .actionLink div {
    width: 154px;
    font-size: 22px;
  }
  .socialMedia {
    flex-direction: column;
    margin-left: 14px;
  }
  .socialMedia img {
    margin: 14px 0;
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .mobileThumbnail {
    display: none;
  }
  .heroThumbnail {
    display: flex;
  }
  .heroThumbnail img {
    width: 120px;
    height: 120px;
  }
  .heroImage {
    width: 480px;
  }
  .productDescription {
    width: 420px;
  }
  .productDescription .heroHeading {
    font-size: 50px;
  }
  .productDescription p {
    font-size: 14px;
  }
  .actionButtons .actionLink div {
    width: 188px;
    font-size: 24px;
  }
}
@media screen and (min-width: 1366px) {
  .heroHeading {
    font-size: 50px;
  }
  .productDescription {
    width: 524px;
    margin-right: auto;
  }
  .productDescription p {
    font-size: 20px;
  }
  .actionButtons .actionLink div {
    width: 214px;
    height: 61px;
    font-size: 24px;
  }
}
#specs {
  display: flex;
  align-items: center;
  padding: 269px 0;
}

.alignSpecs {
  display: flex;
}

.specsDescription {
  display: flex;
  flex-direction: column;
  width: 606px;
  justify-content: center;
}
.specsDescription .specsHeading {
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.specsDescription .specsHeading .specsText {
  font-family: Oswald, sans-serif;
  font-weight: 500;
  font-size: 28px;
}
.specsDescription #line {
  width: 100%;
  background-color: var(--paragraph-color);
  height: 1px;
  position: relative;
  margin-top: 20px;
}
.specsDescription #line div {
  height: 5px;
  width: 95px;
  top: -2.5px;
  position: absolute;
  background-color: var(--accent-color);
}
.specsDescription p {
  color: var(--paragraph-color);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  margin-top: 40px;
  text-align: justify;
}

@media screen and (min-width: 360px) {
  .specsText {
    font-size: 30px;
  }
  #specs {
    background: url("../img/Mask Group 15@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .specsDescription {
    width: 100%;
  }
  .specsDescription p {
    font-size: 26px;
  }
  .alignSpecs {
    justify-content: center;
    align-items: center;
  }
  .specsHeading .specsText {
    font-size: 34px;
    color: white;
  }
  #line {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  #specs {
    background: url(../img/Mask\ Group\ 7@2x.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .alignSpecs {
    justify-content: flex-start;
    align-items: center;
  }
  .specsDescription {
    width: 606px;
    margin-left: 60px;
  }
  .specsDescription .specsText {
    color: var(--heading-color);
  }
  .p {
    font-size: 30px;
  }
}
#motivation {
  background: url(../img/Mask\ Group\ 13@2x.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 249px 0;
}
#motivation .motContainer {
  width: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#motivation .aligner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#motivation .motHeading {
  font-family: Oswald, sans-serif;
  font-size: 50px;
}
#motivation p {
  font-family: Roboto, sans-serif;
  color: var(--paragraph-color);
  font-size: 18px;
  margin: 40px 0;
  text-justify: justify;
}

.motImage {
  background: url("../img/Mask Group 13@2x.png");
  background-size: cover;
  background-position: center;
  display: none;
  width: 100%;
  height: 500px;
}

@media screen and (max-width: 1023px) {
  #motivation {
    background: url("../img/Mask Group 14@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 20%;
  }
  #motivation .motContainer {
    width: 100%;
  }
  #motivation .aligner {
    justify-content: center;
    align-items: center;
  }
  #motivation p {
    font-size: 26px;
    font-weight: 400;
  }
  #motivation .motHeading {
    color: white;
  }
}
#products {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 128px;
  padding-bottom: 110px;
}
#products h1 {
  font-family: Oswald, sans-serif;
  font-size: 50px;
}
#products p {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  width: 60%;
  text-align: center;
  color: var(--paragraph-color);
  margin-top: 30px;
  margin-bottom: 50px;
}
#products .productCards {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
#products .productCards img {
  width: 350px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}
.card .productTitle {
  font-family: Oswald, sans-serif;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}
.card .productPrice {
  font-family: Oswald, sans-serif;
  font-size: 50px;
  color: var(--accent-color);
  font-weight: 200;
}

@media screen and (max-width: 1023) {
  #products p {
    font-size: 26px;
    width: 50%;
  }
}
#inputForm {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 128px;
  padding-bottom: 128px;
}
#inputForm .formText {
  font-family: Oswald, sans-serif;
  font-size: 50px;
  text-align: center;
  margin-bottom: 70px;
}

.formArea {
  display: flex;
  align-items: center;
}
.formArea .formImage {
  display: flex;
  justify-content: flex-end;
}
.formArea .formImage img {
  max-width: 670px;
  width: 100%;
}
.formArea form {
  display: flex;
  flex-direction: column;
  width: 394px;
}
.formArea form label {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  color: var(--paragraph-color);
  font-size: 18px;
}
.formArea form input {
  height: 50px;
  border: 1px solid #939FB8;
  border-radius: 4px;
  background-color: transparent;
  margin-bottom: 20px;
}
.formArea form textarea {
  height: 162px;
  border: 1px solid #939FB8;
  border-radius: 4px;
  background-color: transparent;
}
.formArea form button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: white;
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 8px;
  width: 100%;
  height: 61px;
  margin-top: 40px;
}
.formArea form .followUpText {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  color: var(--paragraph-color);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.formArea form .followUpText img {
  width: 14px;
  margin: 0 12px;
}

@media screen and (max-width: 1200px) {
  .formArea {
    flex-direction: column-reverse;
  }
  .formArea .formImage {
    justify-content: center;
    align-items: center;
    margin-top: 220px;
  }
  .formArea form {
    width: 100%;
  }
  .formArea form label {
    font-size: 32px;
  }
  .formArea form input {
    width: 70%;
    height: 60px;
  }
  .formArea form textarea {
    height: 333px;
  }
  .formArea form button {
    font-size: 45px;
    height: 90px;
  }
  .formArea form .followUpText {
    font-size: 25px;
  }
  .formArea form .followUpText img {
    width: 30px;
  }
}
footer {
  display: flex;
  background-color: var(--secondary-color);
}
footer h1 {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--paragraph-color);
  padding: 16px 0;
}
footer p {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--paragraph-color);
  padding-bottom: 16px;
}

.footerAlign {
  display: flex;
  align-items: flex-start;
  padding-bottom: 128px;
}

.footerColumn:nth-child(1) {
  margin-right: 300px;
}

.footerColumn:nth-child(2) {
  margin-right: 128px;
}

.footerColumn:nth-child(3) {
  margin-right: 165px;
}

.footerColumn:nth-child(4) {
  margin-right: auto;
}

#callUs {
  display: flex;
  padding-top: 16px;
}

.footerContact h2 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: var(--paragraph-color);
}
.footerContact h2:nth-child(2) {
  font-size: 18px;
  font-weight: 700;
}

#footerSocial {
  padding-bottom: 44px;
}

.socialIcons {
  width: 24px;
}

#footerLogo {
  width: 120px;
}

#copyright {
  background-color: var(--primary-color);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  color: var(--paragraph-color);
  height: 102px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (min-width: 360px) {
  .footerAlign {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footerAlign {
    flex-wrap: nowrap;
  }
  .footerAlign .footerColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}
:root {
  --accent-color: #FF9300;
  --primary-color: #DFE3EB;
  --secondary-color: #EBEFF7;
  --paragraph-color: #656565;
  --heading-color: #231F20;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 142px;
  padding-right: 142px;
}

@media screen and (min-width: 360px) {
  .container {
    width: calc(100vw - 40px);
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (min-width: 767px) {
  .container {
    width: 740px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}
@media screen and (min-width: 1366px) {
  .container {
    width: 1330px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    width: 1636px;
  }
}/*# sourceMappingURL=style.css.map */